.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(12, 12, 12);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-3000px);
  transition: 1s;
  z-index: 50;
}

.modal button {
  width: 50px;
  height: 20px;
  border: none;
  background: #6aea50;
}
.header__modal{
  display: none;
}

.show {
  transform: translateY(0px);
  transition: 1s;
}

.modal ul {
  width: 500px;
  height: 400px;
  background-color: aqua;
  color: #ccc;
}

.burger {
  font-size: 30px;
  display: none;
  cursor: pointer;
  padding: 20px;
  width: 40px;
}

@media (max-width: 800px) {
  .burger {
    display: block;
  }

  .header__modal{
    display: flex;
  }

  nav {
    display: none;
  }
}
