.refer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 154px 0 159px;
  margin-bottom: 53px;
}

.refer h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 18px;
}

.refer h2 {
  font-size: 80px;
  width: 720px;
  height: 88px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 51px;
}

.refer h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
}
